*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 500vh;
    width: 100vw;
    background-color: aquamarine;
    overflow-x: hidden;
}

/* video{
    position:absolute;
    top:1500px;
    left:0;
    right: 0;
    margin: 0 auto;    
} */

.videoContainer {
    position: absolute;
    top:1500px;
    left:0;
    right: 0;
    margin: 0 auto; 
    height: 250px;
    width: 300px;
}
video{
    height: 100%;
    width: 100%;
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 5px;
}

.material-icons {
    font-size: 15px;
}

#toggle,
#sound {
    color: white;
    background-color: rgba(1,1,1,0);;
    border: none;
}

.closeBtn{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: larger;
    color:white;
}